/.metadata/
/bin/
/bin/Debug/
/bin/Debug/net7.0/
csharp/tcpserver_csharp/bin/
csharp/tcpserver_csharp/bin/Debug/
csharp/tcpserver_csharp/bin/Debug/net7.0/

*.dll
*.pdb
/obj/Debug/net7.0/

obj\Debug\net7.0\
\bin\

csharp/tcpserver_csharp/bin/Debug/net7.0/tcpserver_csharp.dll
csharp/tcpserver_csharp/bin/Debug/net7.0/tcpserver_csharp.pdb
csharp/tcpserver_csharp/obj/Debug/net7.0/tcpserver_csharp.csproj.CoreCompileInputs.cache
csharp/tcpserver_csharp/obj/Debug/net7.0/tcpserver_csharp.dll
csharp/tcpserver_csharp/obj/Debug/net7.0/tcpserver_csharp.GeneratedMSBuildEditorConfig.editorconfig
csharp/tcpserver_csharp/obj/Debug/net7.0/tcpserver_csharp.pdb
csharp/tcpserver_csharp/obj/Debug/net7.0/ref/tcpserver_csharp.dll
csharp/tcpserver_csharp/obj/Debug/net7.0/refint/tcpserver_csharp.dll
java/bin/
java/bin

java\bin\
java\bin
java/bin/br/main/controles/ShutdownLinux.class
java/bin/br/main/Main.class
csharp/tcpserver_csharp/bin/Debug/net7.0/tcpserver_csharp.dll
csharp/tcpserver_csharp/bin/Debug/net7.0/tcpserver_csharp.exe
csharp/tcpserver_csharp/bin/Debug/net7.0/tcpserver_csharp.pdb
java/bin/br/main/Main.class
java/bin/br/main/controles/ShutdownLinux.class
java/bin/br/main/tcpip/tratarMensagens/TratarRequisicoes.class
java/bin/br/main/Main.class
java/bin/br/main/controles/ShutdownLinux.class
java/bin/br/main/tcpip/tratarMensagens/TratarRequisicoes.class
/csharp/tcpserver_csharp/.vs/tcpserver_csharp/FileContentIndex
/csharp/tcpserver_csharp/bin/Debug/net7.0/AudioSwitcher.AudioApi.CoreAudio.dll
/csharp/tcpserver_csharp/bin/Debug/net7.0/AudioSwitcher.AudioApi.dll
/csharp/tcpserver_csharp/bin/Debug/net7.0/tcpserver_csharp.deps.json
/csharp/tcpserver_csharp/bin/Debug/net7.0/tcpserver_csharp.dll
/csharp/tcpserver_csharp/bin/Debug/net7.0/tcpserver_csharp.exe
/csharp/tcpserver_csharp/bin/Debug/net7.0/tcpserver_csharp.pdb
/csharp/tcpserver_csharp/bin/Debug/net7.0/tcpserver_csharp.runtimeconfig.json
/csharp/tcpserver_csharp/obj/Debug/net7.0/ref/tcpserver_csharp.dll
/csharp/tcpserver_csharp/obj/Debug/net7.0/refint/tcpserver_csharp.dll
/csharp/tcpserver_csharp/obj/Debug/net7.0/apphost.exe
/csharp/tcpserver_csharp/obj/Debug/net7.0/tcpserver_csharp.AssemblyInfo.cs
/csharp/tcpserver_csharp/obj/Debug/net7.0/tcpserver_csharp.AssemblyInfoInputs.cache
/csharp/tcpserver_csharp/obj/Debug/net7.0/tcpserver_csharp.assets.cache
/csharp/tcpserver_csharp/obj/Debug/net7.0/tcpserver_csharp.csproj.AssemblyReference.cache
/csharp/tcpserver_csharp/obj/Debug/net7.0/tcpserver_csharp.csproj.CoreCompileInputs.cache
/csharp/tcpserver_csharp/obj/Debug/net7.0/tcpserver_csharp.csproj.FileListAbsolute.txt
/csharp/tcpserver_csharp/obj/Debug/net7.0/tcpserver_csharp.dll
/csharp/tcpserver_csharp/obj/Debug/net7.0/tcpserver_csharp.genruntimeconfig.cache
/csharp/tcpserver_csharp/obj/Debug/net7.0/tcpserver_csharp.pdb
/csharp/tcpserver_csharp/obj/Debug/net7.0/tcpserver_csharp.sourcelink.json
/csharp/tcpserver_csharp/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/csharp/tcpserver_csharp/obj/Debug/net8.0/apphost.exe
/csharp/tcpserver_csharp/obj/Debug/net8.0/tcpserver_csharp.AssemblyInfo.cs
/csharp/tcpserver_csharp/obj/Debug/net8.0/tcpserver_csharp.AssemblyInfoInputs.cache
/csharp/tcpserver_csharp/obj/Debug/net8.0/tcpserver_csharp.assets.cache
/csharp/tcpserver_csharp/obj/Debug/net8.0/tcpserver_csharp.csproj.AssemblyReference.cache
/csharp/tcpserver_csharp/obj/Debug/net8.0/tcpserver_csharp.csproj.CopyComplete
/csharp/tcpserver_csharp/obj/Debug/net8.0/tcpserver_csharp.csproj.CoreCompileInputs.cache
/csharp/tcpserver_csharp/obj/Debug/net8.0/tcpserver_csharp.csproj.FileListAbsolute.txt
/csharp/tcpserver_csharp/obj/Debug/net8.0/tcpserver_csharp.GeneratedMSBuildEditorConfig.editorconfig
/csharp/tcpserver_csharp/obj/Debug/net8.0/tcpserver_csharp.genruntimeconfig.cache
/csharp/tcpserver_csharp/obj/Debug/net8.0/tcpserver_csharp.GlobalUsings.g.cs
/csharp/tcpserver_csharp/obj/Debug/net8.0/tcpserver_csharp.sourcelink.json
/java/bin/br/main/Main.class
/java/bin/br/main/tcpip/tratarMensagens/TratarRequisicoes.class
/java/bin/br/main/controles/ShutdownLinux.class
/csharp/tcpserver_csharp/obj/Debug/net8.0/tcpserver_csharp.csproj.BuildWithSkipAnalyzers
