/.metadata/
/bin/
/bin/Debug/
/bin/Debug/net7.0/
csharp/tcpserver_csharp/bin/
csharp/tcpserver_csharp/bin/Debug/
csharp/tcpserver_csharp/bin/Debug/net7.0/

csharp/tcpserver_csharp/bin/Debug/net7.0/tcpserver_csharp.dll
csharp/tcpserver_csharp/bin/Debug/net7.0/tcpserver_csharp.pdb
csharp/tcpserver_csharp/obj/Debug/net7.0/tcpserver_csharp.csproj.CoreCompileInputs.cache
csharp/tcpserver_csharp/obj/Debug/net7.0/tcpserver_csharp.dll
csharp/tcpserver_csharp/obj/Debug/net7.0/tcpserver_csharp.GeneratedMSBuildEditorConfig.editorconfig
csharp/tcpserver_csharp/obj/Debug/net7.0/tcpserver_csharp.pdb
csharp/tcpserver_csharp/obj/Debug/net7.0/ref/tcpserver_csharp.dll
csharp/tcpserver_csharp/obj/Debug/net7.0/refint/tcpserver_csharp.dll
