## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

## Visual Studio 2015 cache/options
.vs/

## Rider
.idea/
*.sln.iml

## Builds
[Bb]in/
[Oo]bj/

# mstest
/TestResults
